__pycache__/
*.pyc
.DS_Store
.env
content/
__pycache__/
*.pyc
.langgraph_api/
.venv
uv.lock
workspace
.claude/
.venv/
.claude/
.claude/
*.egg-info/
09_Synthetic_Data_Generation_and_LangSmith/usecase_data_kg.json
